<?xml version="1.0" ?>
<launch>
  <arg name="load_cam"          default="false"/>
  <arg name="load_bag_filepath" default="false"/>
  <arg name="bag_file"          default=""/>
  <arg name="calibration_file"  default="$(find object_keypoints_ros)/config/calibration.yaml"/>
  <arg name="camera"            default="hand_eye"/>
  <arg name="image_topic"       default="/$(arg camera)/color/image_raw"/>
  <arg name="depth_topic"       default="/$(arg camera)/depth/image_rect_raw"/>
  <arg name="calibration_topic" default="/camera_info"/>
  <arg name="base_frame"        default="world"/>
  <arg name="camera_frame"      default="$(arg camera)_color_optical_frame"/>
  <arg name="depth_window_size" default="5"/>
  <arg name="depth_window_mode" default="median"/>
  <arg name="model_name"        default="valve"/>
  <arg name="model"             default="$(find object_keypoints_ros)/models/$(arg model_name).pt"/>
  <arg name="keypoints_file"    default="$(find object_keypoints_ros)/config/$(arg model_name).json"/>
  <arg name="image_file"        default="$(find object_keypoints_ros)/resources/$(arg model_name)3_gt.png"/>
  <arg name="rviz"              default="true"/>
  <arg name="rviz_config"       default="$(find object_keypoints_ros)/config/valve.rviz"/>
  <arg name="gpu"               default="true"/>
  <arg name="operation_mode"    default="static"/>

  <node name="object_keypoints_ros_detection" pkg="object_keypoints_ros" type="keypoints_detection.py" output="screen">
    <param name="left_image_topic"    value="$(arg image_topic)" />
    <param name="right_image_topic"   value="$(arg image_topic)" />
    <param name="left_camera_frame"   value="$(arg camera_frame)" />
    <param name="calibration_topic"   value="$(arg calibration_topic)"/>
    <param name="load_model"          value="$(arg model)"/>
    <param name="calibration_file"    value="$(arg calibration_file)" />
    <param name="keypoints"           value="$(arg keypoints_file)" />
    <param name="image_file"          value="$(arg image_file)"/>
    <param name="pnp"                 value="false" type="bool" />
    <param name="gpu"                 value="$(arg gpu)" type="bool" />
    <param name="verbose"             value="false"/>
    <param name="operation_mode"      value="$(arg operation_mode)"/>
  </node>

  <node name="object_keypoints_ros_perception" pkg="object_keypoints_ros" type="keypoints_perception.py" output="screen" if="$(eval arg('operation_mode') == 'service')">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="camera_frame" value="$(arg camera_frame)"/>
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="depth_topic" value="$(arg depth_topic)"/>
    <param name="depth_window_size" value="$(arg depth_window_size)"/>
    <param name="depth_window_mode" value="$(arg depth_window_mode)"/>
    <param name="calibration_topic" value="$(arg calibration_topic)"/>
  </node>

  <group if="$(arg load_cam)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
  </group>

  <node pkg="rosbag" type="play" name="rosbag_play_recorded" args="$(arg bag_file)" if="$(arg load_bag_filepath)" />

  <!-- Open Rviz -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen" if="$(arg rviz)"/>


</launch>
